@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-size: 1em;
    margin-bottom: 10vmin;
}

#game {
    position: relative;
}

img {
    visibility: hidden;
    z-index: 100;
    position: absolute;
    top: 0;
    transform: translateX(-4%);
    width: 110%;
    height: 105%;
    /* transform: all 0.5s ease-in-out; */
}

.middle-row {
    border-top: 8px solid black;
    border-bottom: 8px solid black;
}

.middle-col {
    border-left: 8px solid black;
    border-right: 8px solid black;
}

#game div {
    height: 20vmin;
    width: 60vmin;
    z-index: 100;
    /* border: 1px solid black; */
}

#game .row {
    display: flex;
    justify-content: center;
    align-items: center;

}

.row > div {
    font-size: 15vmin;
    text-align: center;
}

#btn {
    z-index: 101;
    padding:  3vmin 5vmin;
    font-size: 1.2em;
    border: 3px solid black;
    border-radius: 5%;
    margin: 10vmin;
    background: #fff;
    visibility: hidden;
    transform: all 0.5s ease-in-out;
}

#btn:hover {
    color: green;
    border: 3px solid green;
}